PORT=5000
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/esmil-delicias
JWT_SECRET=change_this_in_production
JWT_EXPIRES_IN=7d
ADMIN_EMAIL=admin@esmildelicias.com
ADMIN_PASSWORD=change_this_password
FRONTEND_URL=http://localhost:5173
DASHBOARD_URL=http://localhost:3001
CORS_ORIGINS=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
